.wrapper {
  max-width: 46rem;
  justify-content: center;
  margin: -1.75rem auto;

  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
}

.createTaskForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.createTaskForm input {
  width: 100%;
  color: var(--gray-300);
  background: var(--gray-500);
  height: 3.375rem;
  border-radius: 8px;
  border: 0;
  outline: none;
  text-indent: 1rem;
}

.createTaskForm input:focus {
  border: 1px solid var(--purple-dark);
  color: var(--white);
}

.createTaskForm button[type=submit] {
  background: var(--blue-dark);
  border: 0;
  color: var(--white);
  cursor: pointer;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: bold;
  width: 5.625rem;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  gap: 0.3rem;

  transition: background-color 0.1s;
}

.createTaskForm button[type=submit]:hover {
  background: var(--blue);
}

.createTaskForm button[type=submit] svg {
  margin-top: 0.125rem;
}

.taskBoard {
  display: block;
  margin-top: 4rem;
}

.taskBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 1.25rem;
  margin-bottom: 1.5rem;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: bold;
  align-items: center;
}

.info span {
  border-radius: 25px;
  background: var(--gray-400);
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0 0.5rem;
  padding: 0.125rem 0.5rem;
  color: var(--white);
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
    padding: 0 1rem; /* Para não ficar colado nas laterais da tela ao diminuir */
  }
}
